# flyctl launch added from .gitignore
# macOS
**/.DS_Store

# sbt specific
**/dist/*
**/target
**/lib_managed
**/src_managed
**/project/boot
**/project/plugins/project
**/project/local-plugins.sbt
**/.history
**/.ensime
**/.ensime_cache
**/.sbt-scripted
**/local.sbt

# Bloop
**/.bsp

# VS Code
**/.vscode

# Metals
**/.bloop
**/.metals
**/metals.sbt

# IDEA
**/.idea
**/.idea_modules
.worksheet

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests

# flyctl launch added from frontend/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/**/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/**/.DS_Store
frontend/**/.env.local
frontend/**/.env.development.local
frontend/**/.env.test.local
frontend/**/.env.production.local

frontend/**/npm-debug.log*
frontend/**/yarn-debug.log*
frontend/**/yarn-error.log*
