.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main {
  max-width: 1280px;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0 1rem;
  margin: 0 auto;
}

.main-left {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100%;
}

.score-wrapper {
  display: grid;
}

.score-line {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr;
}
